# Ignore object files, libs and executable files
*.o
*.dll
*.so
*.exe
*.sh

# Ignore bin and build directories
bin/
build/
*Makefile*
!bin/config.ini

# Ignore directory with the task
task/

# Ignore directory with deb-package sources
deb/
